<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
  
  <!-- below alert code -->

  <% if(msg!=""){ %>
    <div class="alert alert-success" role="alert">
        <%= msg %>
      </div>
    <% } %>
 <!-- above is alert code -->
<div>
  <h3>Update Listing</h3>
    <form action="/update/<%= data.id %>" method="post" enctype="multipart/form-data">
      <br><br>
    <input type="text" name="listing[name]"  class="form-control" placeholder="name" value="<%= data.name %>"><br><br>
    <input type="text" name="listing[description]"   class="form-control" placeholder="description" value="<%= data.description %>"><br><br>
    <input type="file" name="listing[image]"  class="form-control" placeholder="url"><br><br>
    <input type="number" name="listing[price]" placeholder="price"  class="form-control" value="<%= data.price%>"><br><br>
    <select class="form-select" aria-label="Default select example"  name="listing[catagory]"><br><br>
        <option value="electronic">electronic</option>
        <option value="funicher">funicher</option>>
        <option value="vehicals">vehicals</option>>
          <option value="other">other</option>
      </select><br><br>

      <input type="number" name="listing[age]"   class="form-control" placeholder="age" value="<%= data.age %>"><br><br>

    <select class="form-select" aria-label="Default select example"  name="listing[other]"><br><br>
        <option value="box">box</option>
        <option value="box">gerenty</option>
        <option value="box">warenty</option>
        <option value="box">other</option>

      </select>
      

    <input type="submit" value="UPDATE"><br><br>
    
</form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>